@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    user-select: none;
    background: rgb(50, 59, 89);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    color: rgb(193, 193, 193);
}
.active{
    background-color: rgb(46 16 101);
    color: white;
}